@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@200&family=Kalam&family=Merienda:wght@600&family=Plus+Jakarta+Sans:ital,wght@1,200&display=swap');
@import url(fontawesome-free/css/all.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#videoBg {
    z-index: -1;
    position: fixed;

}

#container {
    height: 100%;
    width: 100%;
}

#header {
    width: 100%;
    background-color: black;
    height: 7rem;
    line-height: 7rem;
}

#logo img {
    height: 5rem;
    width: 5rem;
}

#userPhoto img {
    height: 5rem;
    width: 5rem;
    border-radius: 5rem;
}

#socialIcons {
    align-content: flex-end;
}

.social {
    list-style: none;
    display: inline-flex;
}

.social i {
    color: aliceblue;
    font-size: 1rem;
}

.socialIcons {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    border-radius: 2rem;
    line-height: 2rem;
    background-color: rgb(238, 184, 5);
}

.nav-item {
    margin-left: 8rem;
}

#main {
    height: 46.5rem;
    width: 100%;
    background-color: rgba(172, 28, 28, 0);
}

#sideBar {
    background-color: rgba(230, 22, 22, 0);
    margin-left: .7rem;
}

#mainContent {
    background-color: transparent;
    width: 88rem;
    margin: 0px;
}

.contentHeader {
    margin-top: .7rem;
    height: 12rem;
    border: solid 1px black;
    border-radius: 1rem;
    background-color: rgba(16, 223, 189, 0.397)
}

.contentHeader h2 {
    color: aliceblue;
    text-align: center;
    font-family: kalam
}

.sideBarlist {
    list-style: none;
}

.seeMore {
    z-index: 1;
    appearance: none;
    color: rgb(2, 2, 2);
    width: 110px;
    height: 25px;
    position: relative;
    text-align: center;
    margin: 0px 0px 0px 158px;
    background: transparent;
    font-weight: 15;
    font-family: 'Kalam', cursive;
    border: 0.125em solid #1A1A1A;
    border-radius: 0.9375em;
    box-sizing: border-box;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

button.seeMore:disabled {
    pointer-events: none;
}

button.seeMore:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.promotionalBanner {
    height: 5rem;
    background-color: rgba(16, 223, 189, 0.397);
    border: solid 1px black;
    border-radius: 2rem;
    font-family: kalam;
    text-align: center;
    color: aliceblue;
}

button.seeMore {
    box-shadow: none;
    transform: translateY(0);
}

#contentH2 {
    display: flex;
}

.certificates img {
    height: 20rem;
    width: 20rem;
    display: flex;
}

#rightContent {
    height: 80rem;
}

.contenttitle {
    height: 20rem;
    display: flex;
}

#carousel {
    height: 10rem;
}

.lowbanner {
    list-style: none;
}

#footer {
    list-style: none;
    color: aliceblue;
    height: 8rem;
    background-color: black
}

#footer1 {
    margin-left: 2rem;
}

#footer2 img {
    height: 6.5rem;
    width: 6.5;
}

/* mediaquerries */
@media (max-width:992px) {
    .social {
        margin-left: 0;
    }
}
@media (max-width:768px) {
    .nav-item {
        margin-left: 0rem;
    }
    .promotionalBanner {
        margin-left: .7rem;
    }
    .seeMore {
        margin-left: 19rem;
    }

    #card {
        margin-left: 9rem;
    }

    #footer {
        font-size: xx-small;
        margin-left: .7rem;
    }
    #carousel img{
        width: 100%;
    }
}
@media (max-width:576px) {
    #header {
        height: 21rem;
        align-content: flex;
    }
    #logo img {
       margin-left: 15rem;
    }
    .social {
       margin-left: 10rem;
    }
    #userPhoto img{
        align-content: flex;
        margin-left: 15rem;
    }
    .seeMore {
        margin-left:14rem ;
        justify-content: center;
    }
    #card {
        margin-left: 4rem;
    }
    #footer1 {
        width: 7rem;
    }
    #footer2 {
        width: 12rem;
    }
    #footer2 img{
        width: 3rem;
    }
    #footer3 {
        width: 10rem;
    }

}